body {
    font-size: 10px;
    color: black;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}

.clean {
    clear: both;
}

.header {
    float: left;
    margin: 20px;
    margin-right: 80px;
}

.header-logo {
    width: 110%;
    height: 110%;
}

.header_main_manu {
    position: relative;
    width: 800px;
}

.header_main_manu img {
    width: 100%;
    display: block;
}

.header_menu {
    text-align: right;
}

.menu_list {
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s;
}

.white_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 17px;
}

.main {
    float: left;
    margin-inline-end: 0px;
    margin-right: 30px;
}

.menu_list {
    cursor: pointer;
    padding: 5px 10px;
    white-space: nowrap;
}

.login {
    display: inline-block;
    width: 200px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 15px;
}

.login_form {
    display: flex;
    align-items: center;
}

.login_inputs {
    display: flex;
    flex-direction: column;
}

.login_div input {
    box-sizing: border-box;
    font-size: 10px;
    width: 130px;
    height: 15px;
    margin-bottom: 3px;
    margin-right: 10px;
}

.list h4 {
    text-align: center;
}

.main-img {
    margin-bottom: 20px;
}

.board {
    float: left;
    width: 450px;
    margin: 5px;
}

.board-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.spacer {
    flex: 1;
}

.youtube {
    text-align: center;
}

.board-item {
    float: left;
}

.board-list-group {
    float: left;
}

.board-list {
    overflow: hidden;
}

.bord-content,
.board-content {
    float: left;
    margin-right: 10px;
}

.photo {
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
}

.photo-item {
    float: left;
    margin: 20px;
}

.bottom-hr {
    margin: 20px;
}

.footer-logo {
    text-align: right;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    flex: none;
    text-align: center;
    float: left;
    margin-right: 20px;
}

.footer-profile {
    position: relative;
    top: 10px;
}

.name {
    font-size: 20px;
}

.community-box {
    position: relative;
    margin-bottom: 15px;
}

.community-header img {
    display: block;
    width: 100%;
    height: 300px;
}

.community-menu {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 200px;
    pointer-events: none;
}

.community-menu ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    color: black;
}

.community-menu li {
    margin: 5px 0;
    font-size: 15px;
}

.board-title {
    font-size: 20px;
}

.login.banner {
    background-color: white;
}

.login.banner img {
    width: 100%;
    height: 100%;
}

.board-read .header {
    border-top: 3px top gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.board-read .info {
    flex: none;
    text-align: center;
    float: left;
    font-size: 15px;
}

.board-read hr {
    margin: 0;
}

.main_table {
    text-align: center;
    font-size: 15px;
    align-items: center;
}

.board_list_table {
    border-collapse: collapse;
    align-items: center;
    width:750px;
}

.board_list_table .table_header {
    border-top: 2px solid gray;
    background-color: #eeeeee;
}
.board_list_table .table_value {
    border-bottom: 1px solid gray;
}
.left-td {
    text-align: left !important;
    padding-left: 10px;
}

/* .comment_text{
    align-content: center;
    text-align: center;
} */
.comment_text {
    text-align: center;
    vertical-align: middle;
}

.comment_text img,
.comment_text input {
    vertical-align: middle;
}
.comment_text input {
    width: 200px;
    height: 60px;
    display: inline-block;
    margin: 5px;
}

.bt_comment {
    margin: 5px;
}
.write_header{
    border-bottom: 2px solid gray;
}
.write_textarea{
    width: 300px;
    height:100px;
}
.write-right{
    border-right: 1px solid gray;
}