

.board{
    background-color: white;
    padding : 5px; 
    text-align: left;
    border: 1px solid black;
    margin :10px;
}

.notice a{
    color: #90bd11;
    font-weight:bold;
}

.catagory{
    display:flex;
    flex-direction: row;
    box-shadow: 
        inset 5px 0 3px #F2F0F0,
        inset 0 -5px 3px #F2F0F0;
}
.categry a{
    font-weight: bold;
}

.label {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.bar {
    width: 2px;
    height: 22px;
    background-color: #90bd11;
    margin-right: 8px;
}

.text {
    font-size:17px;
    font-weight: bold;
    letter-spacing: 0.5px;
}


.catagory_img{
    margin-left:10px;
}
.detail_02 {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detail_02 a {
    color: #90bd11;
}

.dtitle {
    align-self: flex-start;
    text-align: left;
}

.detail_02 .d1 {
    margin: 20px;
    text-align: center;
    align-content: center;
    float: left;

}

.detail_02 a.a2 {
    color: #878888
}

.detail_02 a.a3 {
    color: #000;
}

.detail_02 .clear {
    clear: both;
}


.main_part3 .board{
    margin: 5px;
}
